.main-wrapper {
  float: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 1%;
}

.solar-image {
  cursor: pointer;
}

.color-segment {
  float: left;
  height: 20px;
  cursor: pointer;
}